html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root,
.App {
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
